@model ClassRoom.Models.DataCreate.Session

@{
    ViewData["Title"] = "Create";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />
<h1 style="display:flex;justify-content:center;">Create</h1>
<h4 style="color:red">@ViewBag.Status</h4>
<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session_Start_Date" class="control-label"></label>
                <input asp-for="Session_Start_Date" class="form-control" />
                <span asp-validation-for="Session_Start_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session_End_Date" class="control-label"></label>
                <input asp-for="Session_End_Date" class="form-control" />
                <span asp-validation-for="Session_End_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
