body {
     background-color:aliceblue;
/*
    background-image: url('../image/pngtree-liquid-water-drop-splash-three-dimensional-decoration-png-image_4361854.png');
    
    background-size: cover;*/
}
.btn {
    text-decoration: blink;
    display: inline-flex;
    float: right;
    margin-left: 10px;
}
.my-custom-scrollbar {
    position: relative;
    height: 450px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
