@model IEnumerable<classroombooking.DataCreate.Booking>

@{
    ViewData["Title"] = "Home Page";

}

<link href="~/css/stylesheet.css" rel="stylesheet" />


<div class="text-center">
    <h1 class="display-4">Welcome</h1>


</div>

